:root {
  --bg-primary: #8685ef;
  --bg-secondary: #121212;
}

nav,
footer {
  justify-content: center;
  text-align: center;
}

header > * button {
  border: none;
}

.content {
  padding: .75rem 2.5rem;
}
