:root {
  --bg-primary: #8685ef;
  --bg-secondary: #121212;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header > * button {
  border: none;
}

.content {
  padding: .75rem 2.5rem;
}
